*.DotSettings
*.cache
*.user
*.v2

src/.vs/

src/WebAPI/EntityFramework/.vs/
src/WebAPI/EntityFramework/bin/
src/WebAPI/EntityFramework/obj/

src/WebAPI/NHibernate/.vs/
src/WebAPI/NHibernate/bin/
src/WebAPI/NHibernate/obj/

src/WebAPI/EntityFramework.VSIX/.vs/
src/WebAPI/EntityFramework.VSIX/bin/
src/WebAPI/EntityFramework.VSIX/obj/

src/WebAPI/NHibernate.VSIX/.vs/
src/WebAPI/NHibernate.VSIX/bin/
src/WebAPI/NHibernate.VSIX/obj/

src/Blazor/EntityFramework/API/.vs/
src/Blazor/EntityFramework/API/bin/
src/Blazor/EntityFramework/API/obj/

src/Blazor/EntityFramework/UI/.vs/
src/Blazor/EntityFramework/UI/bin/
src/Blazor/EntityFramework/UI/obj/

src/Blazor/EntityFramework/Shared/.vs/
src/Blazor/EntityFramework/Shared/bin/
src/Blazor/EntityFramework/Shared/obj/

src/Blazor/NHibernate/API/.vs/
src/Blazor/NHibernate/API/bin/
src/Blazor/NHibernate/API/obj/

src/Blazor/NHibernate/UI/.vs/
src/Blazor/NHibernate/UI/bin/
src/Blazor/NHibernate/UI/obj/

src/Blazor/NHibernate/Shared/.vs/
src/Blazor/NHibernate/Shared/bin/
src/Blazor/NHibernate/Shared/obj/

src/Blazor/EntityFramework.VSIX/.vs/
src/Blazor/EntityFramework.VSIX/bin/
src/Blazor/EntityFramework.VSIX/obj/

src/Blazor/NHibernate.VSIX/.vs/
src/Blazor/NHibernate.VSIX/bin/
src/Blazor/NHibernate.VSIX/obj/