@using Templates.Blazor.NH.UI.Localization
@inherits UI.PageBase

<PageTitle>@(Localization[nameof(Resource.About)])</PageTitle>

<div class="d-flex mb-2">
    <div class="p-2">
        <h4>@(Localization[nameof(Resource.About)])</h4>
    </div>
</div>